@model IEnumerable<mvcCRUDstudio.Models.Student>

@{
    ViewData["Title"] = "Index";
    List<Student> students = new List<Student>();
    students = (List<Student>)ViewData["students"];
}

<h1>Index</h1>
<table>
@foreach (var item in students) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new {  /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new {  /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
</table>
